{% extends 'base.html.twig' %}

{% block title %}Les Pays{% endblock %}

{% block body %}
    <section id="gallery" class="gallery">
        <div class="container">
            <div class="gallery-details">
                <div class="gallary-header text-center">
                    <h2>
                        Les Pays
                    </h2>
                    <p>
                        Where do you wanna go? How much you wanna explore?
                    </p>
                </div><!--/.gallery-header-->
                <div class="gallery-box">
                    <div class="gallery-content">
                        <div class="filtr-container">
                            <div class="row">
                                {%  for pays in pays%}
                                    <div class="col-md-12">
                                        <div class="filtr-item">
                                            <img src="{{ asset('assets/images/gallary/' ~ pays.image)}}" alt="portfolio image">
                                            <div class="item-title">
                                                <a href="{{ path('afficheroffreparpays',{'id':pays.id}) }}">
                                                    {{ pays.name }}
                                                </a>
                                                <p>
                                                <span>
                                                    Description : {{ pays.description }}
                                                </span>
                                                    <br>
                                                    <span>
                                                    Continent : {{ pays.continent }}
                                                </span>
                                                </p>
                                            </div><!-- /.item-title -->
                                        </div><!-- /.filtr-item -->
                                    </div><!-- /.col -->
                                {% endfor %}
                            </div><!-- /.row -->
                        </div><!-- /.filtr-container-->
                    </div><!-- /.gallery-content -->
                </div><!--/.galley-box-->
            </div><!--/.gallery-details-->
        </div><!--/.container-->
    </section>
{% endblock %}
