{% extends 'dashboard.html.twig' %}

{% block title %}Hotel index{% endblock %}

{% block body %}
    <form class="w-search">
        <div class="sidebar-search">

            <div class="input-group custom-search-form">

                <input type="text" id="search" class="form-control pl-3" placeholder="Search here">
            </div>
            <!-- /input-group -->
        </div>
        <ul class="nav" id="side-menu">
            <li>
                <a href="#"><span class="fa arrow"></span></a>
                <ul class="nav " id="entitiesNav">
                </ul>
            </li>
        </ul>



    </form>
    <h1>Hotel index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Etoile</th>
            <th>Num</th>
            <th>Image</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>
                <td>{{ hotel.id }}</td>
                <td>{{ hotel.nom }}</td>
                <td>{{ hotel.adresse }}</td>
                <td>{{ hotel.etoile }}</td>
                <td>{{ hotel.num }}</td>
                <td><img width="100" src="{{ asset('images/hotels/' ~ hotel.image) }}"></td>
                <td>
                    <a href="{{ path('hotel_show', {'id': hotel.id}) }}">show</a>
                    <a href="{{ path('hotel_edit', {'id': hotel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('hotel_new') }}">Create new</a>
    <script src="{{ asset('assets/js/jquery.js') }}"></script>
    <script>
        jQuery(document).ready(function() {
            var searchRequest = null;
            $("#search").keyup(function() {
                var minlength = 1;
                var that = this;
                var value = $(this).val();
                var entitySelector = $("#entitiesNav").html('');
                if (value.length >= minlength ) {
                    if (searchRequest != null)
                        searchRequest.abort();
                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('ajax') }}",
                        data: {
                            'q' : value
                        },
                        dataType: "text",
                        success: function(msg){
                            //we need to check if the value is the same
                            if (value===$(that).val()) {
                                var result = JSON.parse(msg);
                                $.each(result, function(key, arr) {
                                    $.each(arr, function(id, value) {
                                        if (key === 'hotel') {
                                            if (id !== 'error') {
                                                console.log(value);
                                                entitySelector.append('<li>' +
                                                    'Type:<a href="https://127.0.0.1:8000/admin/hotel/show'+id+'">' + '<h5><b>  '+value[0]+  '</b></h5></a>'+'<a href="https://127.0.0.1:8000/admin/hotel/show'+id+'"><img src="https://127.0.0.1:8000/images/hotels/'+value[4]+'" height="90" width="90">  </a> </li>')   ;
                                            } else {
                                                entitySelector.append('<li class="errorLi">'+value+'</li>');
                                            }
                                        }
                                    });
                                });
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
