{% extends 'base.html.twig' %}

{% block title %}profil{% endblock %}

{% block body%}
    <section id="pack" class="packages">


                    <div class="col-md-12 col-sm-10">
                        {{ form_start(f, { 'attr' : { 'class' : 'sample-sample' } }) }}
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Titre</label>
                                {{ form_widget(f.Title, { 'attr' : { 'class' : 'form-control' } } ) }}
                            </div>

                            <div class="form-group ">
                                <label for="exampleInputEmail1">Description</label>

                                {{ form_widget(f.description, { 'attr' : { 'class' : 'form-control' } } ) }}

                            </div>


                            <!-- /.card-body -->
                            <div class="card-footer">

                                {{ form_widget(f.save, { 'attr' : { 'class' : 'btn btn-primary' } } ) }}
                                <br><br>
                            </div>
                            {{ form_end(f) }}
                        </div>
        </div>

    </section>




{% endblock %}