{% extends './backend/dashboard.html.twig' %}

{% block body %}
    <h1>Liste des agences</h1> <center><a href="{{ path('AgenceAdd') }}"><button class="btn btn-primary" >Ajouter</button></a></center>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Agence</th>
                <th>Sujet</th>
                <th>Image</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Date</th>

                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>
            <tr {% for A in plan %}>
                <td>{{ A.id }}</td>
                <td>{{ A.agence.nom }}</td>
                <td>{{ A.sujet }}</td>
                <td>{{ A.image }}</td>
                <td>{{ A.description }}</td>
                <td>{{ A.prix }}</td>
                <td>{{ A.date }}</td>

                <td><a href="{{ path('AgenceEdit',{'id':A.id}) }}">Modifier</a> </td>
                <td><a href="{{ path('AgenceDel',{'id':A.id}) }}">Supprimer</a> </td>

            </tr {% endfor %}>

            </tbody>
            <tfoot>
            <tr>
                <th>ID</th>
                <th>Agence</th>
                <th>Sujet</th>
                <th>Image</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Date</th>

                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
{% endblock %}