{% extends 'dashboard.html.twig' %}

{% block title %}Liste des plans{% endblock %}

{% block body %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('backend/plugins/fontawesome-free/css/all.min.css') }}">
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('backend/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('backend/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('backend/plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('backend/dist/css/adminlte.min.css') }}">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <a href="{{ path('plan_new') }}"><button class="btn btn-block btn-primary">Ajouter un nouveau Plan</button></a>

                        <div class="card-body">



                            <table id="example1" class="table table-bordered table-striped">

                                <form class="w_search">
                                    <div class="sidebar-search">
                                        <div class="input-group custom-search-form">
                                            <input type="text" id="search" name="search" class="form-control" placeholder="Search">
                                        </div>
                                        <!-- /input-group --></div></form>
                                        <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Image</th>
                                    <th>Sujet {% if order is odd %}
                                        <a href="{{ path('cro') }}"><img src="{{ asset('images/up.png') }}" height="20" width="20"> </a>
                                        {% else%}
                                        <a href="{{ path('dec') }}"><img src="{{ asset('images/down.png') }}" height="20" width="20"> </a>
                                        {% endif %}
                                    </th>
                                    <th>Description</th>
                                    <th>Date</th>
                                    <th>Prix</th>
                                    <th>Agence</th>

                                    <th>Afficher</th>
                                    <th>Modifier</th>

                                </tr>
                                </thead>

                                <tbody id="all">
                               {{ include('plan/planajax.html.twig') }}
                                </tbody>
                                <tbody id="search">

                                </tbody>

                            </table>
                            <a href="{{ path('plan_pdf') }}"><button class="btn btn-block btn-primary">Telecharger la liste des plans</button></a>

                        </div></div></div>
            </div>
        </div></section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $( document ).ready(function() {
        var currentRequest = null;
        $("#search").keyup(function(e){
            /* La variable value va prendre la valeur insérer dans le champ de texte
            afin d’effectuer la recherche */
            var value = $(this).val();
            if(currentRequest != null) {
                currentRequest.abort();
            }

            /* Ajax est lancé lors du remplissage du champ texte dont l’id est
            « search » pour faire la recherche */
            currentRequest = $.ajax({

                url : "{{ path('plansearch') }}",
                type : 'GET',
                data: {
                    'searchValue' : value
                },

                success : function(retour)
                {
                    $('#all').html(retour);

                },
            });
            return false;
        });
    });
</script>

{% endblock %}

