{% extends 'base.html.twig' %}


{% block title %} Plans d'attractions {% endblock %}
{% block body %}

    <section id="pack" class="packages">
        <div class="container">
            <div class="gallary-header text-center">
                <h2>
                    Plans d'attractions
                </h2>

            </div><!--/.gallery-header-->
            <div class="packages-content">


                {% for p in plans %}

                    <div class="col-md-4 col-sm-6">
                        <div class="single-package-item">
                            <img src="{{ asset('images/logos/' ~ p.image) }}" alt="package-place">
                            <div class="single-package-item-txt">
                                <h3>{{ p.sujet}} <span class="pull-right">${{ p.prix }}</span></h3>
                                <div class="packages-para">
                                    <p>
											<span>
												<i class="fa fa-angle-right"></i> Agence responsable
											</span>
                                        <i class="fa fa-angle-right"></i> {{ p.agence.nom }}
                                    </p>

                                    <p>
											<span>
												<i class="fa fa-angle-right"></i>  Description
											</span>
                                        <i class="fa fa-angle-right"></i> {{ p.description }}
                                    </p>

                                </div><!--/.packages-para-->
                                <div class="about-btn">




                                    <form action="{{ path('plan_res',{'id': p.id}) }}" onsubmit="return confirm('Vous êtes sur que vous voulez réserver ce plan?');"><button id="checkout-button" type="submit" class="about-view packages-btn">
                                            Réserver
                                        </button></form>













                                </div><!--/.about-btn-->
                            </div><!--/.single-package-item-txt-->
                        </div><!--/.single-package-item-->

                    </div>

                {% endfor %}

            </div><!--/.packages-content-->
        </div><!--/.container-->

    </section>

{% endblock %}



