{% extends './backend/dashboard.html.twig' %}

{% block title %}Liste des plans{% endblock %}

{% block body %}
    <h1>Liste des plans</h1>
    <a href="{{ path('plan_new') }}"><button class="btn btn-block btn-primary">Ajouter un nouveau Plan</button></a>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Sujet</th>
                <th>Description</th>
                <th>Date</th>
                <th>Prix</th>
                <th>Agence</th>

                <th>Afficher</th>
                <th>Modifier</th>

            </tr>
        </thead>
        <tbody>
        {% for plan in plans %}
            <tr>
                <td>{{ plan.id }}</td>
                <td><img width="150" height="150" src="{{ asset('images/logos/' ~ plan.image) }}"> </td>
                <td>{{ plan.sujet }}</td>
                <td>{{ plan.description }}</td>
                <td>{{ plan.date ? plan.date|date('Y-m-d') : '' }}</td>
                <td>{{ plan.prix }}</td>
                <td>{{ plan.agence.nom }}</td>

                <td>
                    <a href="{{ path('plan_show', {'id': plan.id}) }}">Afficher</a>
                </td>
                <td>
                    <a href="{{ path('plan_edit', {'id': plan.id}) }}">Modifier</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <th>Id</th>
        <th>Image</th>
        <th>Sujet</th>
        <th>Description</th>
        <th>Date</th>
        <th>Prix</th>
        <th>Agence</th>

        <th>Afficher</th>
        <th>Modifier</th>
        </tfoot>
    </table>

{% endblock %}
