{% extends 'base.html.twig' %}

{% block montitre %}
    {% if isModification %}
        modification {{utilisateur.nom}}
    {% else %}
        Ajout d'un utilisateur
    {% endif %}

{% endblock %}


{% block inscription %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-6">


            {% if isModification %}
                <img src="{{ asset('images/aliments/' ~ utilisateur.image) }}" style="width:25%">
            {% endif %}
            <div>{{ form_row(form.nom,{"attr":{'class':'text-danger bg-success'},"label":"Votre nom"}) }}</div>
            <div>{{ form_row(form.prenom,{"attr":{'class':'text-danger bg-success'},"label":"Votre prenom"}) }}</div>
            <div>{{ form_row(form.imageFile) }}</div>




        </div>
        <div class="col-6">
            {{ form_widget(form) }}
        </div>

    </div>

    <input type="submit" class="btn btn-primary" value="Enregistrer">
    {{ form_end(form) }}

{% endblock %}