{% extends 'dashboard.html.twig' %}

{% block title %}modifier un offre{% endblock %}
{% block body %}

        <!-- Main content -->
        <section class="content">
            <div class="container">
                {{ form_start(form) }}
                <img height="200"  src="{{ asset('assets/images/packages/' ~ offres.image) }}">
                <div> {{ form_row(form.imageFile) }} </div>
                <div>  {{ form_widget(form) }} </div>
                <input type="submit" class="btn btn-primary" value="modifier">
                {{ form_end(form) }}
            </div>
        </section>

        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

{% endblock %}
