
{%  for offres in offres %}
    <tr>
        <td>{{ offres.name }}</td>
        <td>{{ offres.description }}</td>
        <td>{{ offres.price }} $ </td>
        <td>{{ offres.dateDebut|date('Y-m-d')}}</td>
        <td>{{ offres.dateFin|date('Y-m-d')}}</td>
        <td><img width="200" class="img-responsive" src="{{ asset('assets/images/packages/' ~ offres.image) }}"></td>
        <td>
            <div class="row">
                <div class="col">
                    <a class="btn btn-primary"  href="{{path('modifOffre',{'id': offres.id})}}" >modifier</a>
                </div>
                <div class="col">
                    <form method="post"  action="{{ path('supOffre',{'id': offres.id})}}" onsubmit="return confirm('Voulez vous supprimer ?')">
                        <input type="hidden" name="_method" value="SUP">
                        <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ offres.id)}}">
                        <input type="submit" class="btn btn-danger w-100" value="supprimer">
                    </form>
                </div>
                <div class="col">
                    <a class="btn btn-warning" style="text-align: center" href="{{ path('pdf') }}">pdf</a>
                </div>
            </div>

        </td>
        </td>
    </tr>
{% endfor %}