{% extends './backend/dashboard.html.twig' %}
{% block content %}
    <div class="card">
    <div class="card-header">
        <h3 class="card-title">LISTE DES MOYENS DE TRANSPORT</h3>
    </div>

    <div class="card-body p-0">
        <table id="moyentrans" class="table table-striped">
            <thead>
            <tr>
                <th>id moyen de transport</th>
                <th>Type</th>
                <th>Matricule</th>
                <th>disponibilite</th>

            </tr>
            </thead>
            <tr>

                <td>{{ moy.idMoyTrans }}</td>
                <td>{{ moy.type }}</td>
                <td>{{ moy.matricule }}</td>
                <td>{{ moy.disponibilite }}</td>



            </tr>


        </table>
        <div align="center">
            <a class="btn btn-block btn-info" href="{{ path('list_moyentran') }}" >retour</a>
        </div>
    </div>



{% endblock content %}