{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
<section class="container">
    <div class="row">
        <div class="col-12">
            <h1>Messagerie</h1>
            <h2>element envoyes</h2>
            <p>Vous avez envoye {{ app.user.sent|length }} messages</p>
        </div>
        <table  class="table table-bordered table-striped">
            <tr>
        <td><div class="col-3">De</div></td>
                <td><div class="col-3">Sujet</div></td>
                <td><div class="col-3">Date</div></td>
                <td><div class="col-3">Actions</div></td>
            </tr>
        {% for message in app.user.sent %}
            {% set bold="" %}
            {% if not message.isRead == 1 %}
                {% set bold = "fw-bold" %}

            {% endif %}
            <tr>
                <td><div class="col-3 {{ bold }}">{{ message.sender.username }}</div></td>
                <td><div class="col-3 {{ bold }}">{{ message.title }}</div></td>
                <td><div class="col-3 {{ bold }}">{{ message.createdAt|date }}</div></td>
                <td><div class="col-3">
                <a href="{{ path("delete",{id:message.id}) }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-x-fill text-danger" viewBox="0 0 16 16">
                        <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM6.854 6.146L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 1 1 .708-.708z"/>
                    </svg></a></div></td>
                <td>{% if message.isRead == 1 %}
                        Vu
                    {% endif %}
                </td>
            </tr>

            {% endfor %}

        </table>
        <div class="col">
            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                Voir mes dossiers
            </a>
            <a href="{{ path("send") }}" class="btn btn btn-primary">Envoyer un message</a>
        </div>

    </div>
</section>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes Doossiers</h2>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="list-group">
            <a href="{{ path("message") }}" class="list-group-item-action ">Acceuil</a>
        </div>
        <div class="list-group">
            <a href="{{ path("received") }}" class="list-group-item-action ">Boite de reception</a>
        </div>
        <div class="list-group">
            <a href="{{ path("sent") }}" class="list-group-item-action active ">Elements envoyes</a>
        </div>
    </div>



    {% endblock %}
