{% extends './backend/dashboard.html.twig' %}

{% block body %}
<div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Pays</th>
            <th>Ville</th>
            <th>Adresse</th>
            <th>Email</th>
            <th>Tel</th>
            <th>Liste des plans</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        <tr {% for A in agence %}>
            <td>{{ A.id }}</td>
            <td>{{ A.nom }}</td>
            <td>{{ A.pays }}</td>
            <td>{{ A.ville }}</td>
            <td>{{ A.adresse }}</td>
            <td>{{ A.email }}</td>
            <td>{{ A.tel }}</td>
            <td><a href="{{ path('AgenceDel',{'id':A.id}) }}"></a></td>
            <td><a href="{{ path('AgenceDel',{'id':A.id}) }}">Supprimer</a> </td>
            <td><a href="{{ path('AgenceDel',{'id':A.id}) }}">Supprimer</a> </td>

        </tr {% endfor %}>

        </tbody>
        <tfoot>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Pays</th>
            <th>Ville</th>
            <th>Adresse</th>
            <th>Email</th>
            <th>Tel</th>
            <th>Liste des plans</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        </tfoot>
    </table>
</div>
<!-- /.card-body -->
{% endblock %}