{% extends './backend/dashboard.html.twig' %}
{% block title %}Liste des agences{% endblock %}

{% block body %}
    <h1>Liste des agences</h1>
    <a href="{{ path('agence_new') }}"> <button class="btn btn-block btn-primary">Ajouter une nouvelle agence</button> </a>


    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Logo</th>
                <th>Nom</th>
                <th>Pays</th>
                <th>Ville</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Tel</th>
                <th>Afficher</th>
                <th>Modifier</th>

            </tr>
        </thead>
        <tbody>
        {% for agence in agences %}
            <tr>
                <td>{{ agence.id }}</td>
                <td>{{ agence.logo }}</td>
                <td>{{ agence.nom }}</td>
                <td>{{ agence.pays }}</td>
                <td>{{ agence.ville }}</td>
                <td>{{ agence.adresse }}</td>
                <td>{{ agence.email }}</td>
                <td>{{ agence.tel }}</td>
                <td>
                    <a href="{{ path('agence_show', {'id': agence.id}) }}">Afficher</a>
                </td>
                <td>
                    <a href="{{ path('agence_edit', {'id': agence.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Id</th>
            <th>Logo</th>
            <th>Nom</th>
            <th>Pays</th>
            <th>Ville</th>
            <th>Adresse</th>
            <th>Email</th>
            <th>Tel</th>
            <th>Afficher</th>
            <th>Modifier</th>

        </tr>
        </tfoot>
    </table>

{% endblock %}
