{% extends 'dashboard.html.twig' %}
{% block title %}Liste des agences{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('backend/plugins/fontawesome-free/css/all.min.css') }}">
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('backend/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('backend/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('backend/plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('backend/dist/css/adminlte.min.css') }}">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <a href="{{ path('agence_new') }}"><button class="btn btn-block btn-primary">Ajouter une nouvelle agence</button></a>
                        <div class="card-header">
                            <h2 class="card-title">Liste des agences</h2>
                        </div>
                        <div class="card-body">

                            <div class="count">
                                <h4>Liste des agences</h4>
                            </div>
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Logo</th>
                                    <th>Nom</th>

                                    <th>Addresse</th>
                                    <th>Email</th>
                                    <th>Tel</th>
                                    <th>Afficher</th>
                                    <th>Modifier</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for agence in agences %}
                                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                                        <td>{{ agence.id }}</td>
                                        <td><img width="150" height="150" src="{{ asset('images/logos/' ~ agence.logo) }}"> </td>
                                        <td>{{ agence.nom }}</td>


                                        <td>{{ agence.adresse }}</td>
                                        <td>{{ agence.email }}</td>
                                        <td>{{ agence.tel }}</td>
                                        <td>
                                            <a href="{{ path('agence_show', {'id': agence.id}) }}">Afficher</a>
                                        </td>
                                        <td>
                                            <a href="{{ path('agence_edit', {'id': agence.id}) }}">Modifier</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="9">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Logo</th>
                                    <th>Nom</th>


                                    <th>Adresse</th>
                                    <th>Email</th>
                                    <th>Tel</th>
                                    <th>Afficher</th>
                                    <th>Modifier</th>

                                </tr>
                                </tfoot>

                            </table>
                            <div class="row">
                                <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite"></div>
                                </div><div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">

                                    </div></div></div>

                        </div></div>


                </div>
            </div>
        </div></section>

{% endblock %}
